.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.whatsapp-button img {
    width: 60px; /* Ajusta el tamaño según tu preferencia */
    height: auto;
    border-radius: 50px;
}