<script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

<link rel="stylesheet" href="/assets/css/components.css">


<div class="wrapper" >
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg') ">
        <div class="page-header section-dark" style=" padding-top: 130px;">
            <div class="col-md-8 mr-auto ml-auto"  >
                <div class="card page-carousel"  >
                    <ngb-carousel >
                        <ng-template ngbSlide>
                            <img src="../../assets/img/img010.jpeg" alt="Random second slide" style="height: 650px;">
                            <div class="carousel-caption">
                                <h2 class="presentation-subtitle text-center">ESTUCO Y PINTURA</h2>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../../assets/img/img009.jpeg" alt="Random first slide" style="height: 650px;">
                            <div class="carousel-caption">
                                <h2 class="presentation-subtitle text-center">Free Bootstrap 4 UI Kit for Angular 7</h2>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../../assets/img/img003.jpeg" alt="Random third slide" style="height: 650px;">
                            <div class="carousel-caption">
                                <p>Here it is</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../../assets/img/img005.jpeg" alt="Random second slide" style="height: 650px;">
                            <div class="carousel-caption">
                                <h2 class="presentation-subtitle text-center">ESTUCO Y PINTURA</h2>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../../assets/img/img001.jpeg" alt="Random second slide" style="height: 650px;">
                            <div class="carousel-caption">
                                <h2 class="presentation-subtitle text-center">ESTUCO Y PINTURA</h2>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../../assets/img/img002.jpeg" alt="Random second slide" style="height: 650px;">
                            <div class="carousel-caption">
                                <h2 class="presentation-subtitle text-center">ESTUCO Y PINTURA</h2>
                            </div>
                        </ng-template>

                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>




    <style>
        /* Estilos CSS para el carrusel */
        
        
        
        .page-carousel {
            width: 1500px; /* Ocupa todo el ancho de la ventana gráfica */
            height: 650px;
            overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
            margin-left: -15px; /* Compensar el padding predeterminado de la rejilla de Bootstrap */
            margin-right: -15px; /* Compensar el padding predeterminado de la rejilla de Bootstrap */
            position: relative;
            right: 250px;
            
            
            
            /* align-items: center; */
            /* right: 100px; */
        }
        
        .page-carousel .ngb-slide img {
            width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
            /*  height: auto; Altura automática para mantener la proporción de la imagen */
            height: 500px;
            
        }
        
        .page-carousel .carousel-caption {
            position: absolute; /* Posiciona el texto encima de la imagen */
            bottom: 20px; /* Margen inferior */
            left: 50%; /* Centra horizontalmente */
            transform: translateX(-50%); /* Centra horizontalmente */
            width: 90%; /* Ancho del texto */
            background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
            padding: 10px; /* Espaciado interno */
            color: white; /* Color del texto */
            
        }
        
        .page-carousel .carousel-caption h2 {
            font-size: 24px; /* Tamaño de la fuente */
            margin: 0; /* Elimina el margen predeterminado */
        }
        
        .page-carousel .carousel-caption p {
            font-size: 16px; /* Tamaño de la fuente */
            margin: 0; /* Elimina el margen predeterminado */
        }
        
        
    </style>
    

    
      



    <section class="pt-3 pb-4" id="count-stats">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"><span id="state1" countTo="20">0</span>+</h1>
                <h5 class="mt-3">Construcciones Elaboradas</h5>
                <p class="text-sm font-weight-normal">Conoce las obras realizadas por nuestra empresa.</p>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-3">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"><span id="state2" countTo="40">0</span>+</h1>
                <h5 class="mt-3">Años de experiencia</h5>
                <p class="text-sm font-weight-normal">La confiabilidad y experiencia es importante para nuestros clientes.</p>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-3">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary" id="state3" countTo="300">0</h1>
                <h5 class="mt-3">Obreros Activos</h5>
                <p class="text-sm font-weight-normal">COntamos con el mejor personal en el sector de la construcción.</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary" id="state4" countTo="10">0</h1>
                <h5 class="mt-3">Reconocimientos</h5>
                <p class="text-sm font-weight-normal">Nuestros logros.</p>
              </div>
            </div>
          </div>
        </div>
    </section>




    <!-- Boton whatsApp -->

    <div class="whatsapp-button">
        <a href="https://wa.me/xxxxxxxxxxx" target="_blank">
        <img src="../../assets/img/WhastAppIcon2.png" alt="WhatsApp">
        </a>
    </div>
  

    



    <div class="main" >
      

        <div class="section section-dark" id="carousel" style="background-color: #241607; height: 600px; ">
            <div class="container">
                <div class="row">
                    <!-- Columna para el listado de servicios -->
                    <div class="col-md-4 text-center">
                        <h2 class="title">Mis servicios</h2>
                        <ul class="list-group">
                            <button type="button" 
                            class="btn btn-outline-danger btn-round" 
                            placement="right" 
                            
                            ngbPopover="Los estucos son revestimientos decorativos ampliamente utilizados en la construcción para embellecer y proteger superficies interiores y exteriores de edificaciones. Se componen de una mezcla de materiales como yeso, cal, cemento, arcilla o resinas, combinados con agua y pigmentos según las necesidades estéticas y funcionales de cada proyecto."
                            style="color: white">
                                Estucos: Tradicional - plasticos - venecianos
                             </button>
                             <button type="button" 
                            class="btn btn-outline-danger btn-round" 
                            placement="right" 
                            
                            popoverTitle="Holi" style="color: white">
                            Pintura: Vinilo - Epoxica - Trafijo - Señalización
                             </button>
                             
                             <button type="button" 
                            class="btn btn-outline-danger btn-round" 
                            placement="right" 
                            
                            popoverTitle="Holi" style="color: white">
                            Sistema de revoque en seco o estampillado
                             </button>
                             <button type="button" 
                            class="btn btn-outline-danger btn-round" 
                            placement="right" 
                            
                            popoverTitle="Holi" style="color: white">
                            Paredes en panel de yeso - Fibrocemento PVC
                             </button>
                             <button type="button" 
                            class="btn btn-outline-danger btn-round" 
                            placement="right" 
                            
                            popoverTitle="Holi" style="color: white">
                            Entrepisos Fibrocemento
                             </button>
                             <button type="button" 
                            class="btn btn-outline-danger btn-round" 
                            placement="right" 
                            
                            popoverTitle="Holi" style="color: white">
                            Aislamiento Acústico y Térmicos
                             </button>
                             <button type="button" 
                            class="btn btn-outline-danger btn-round" 
                            placement="right" 
                            
                            popoverTitle="Holi" style="color: white">
                            Texturas Graniplast
                             </button>
                             <button type="button" 
                            class="btn btn-outline-danger btn-round" 
                            placement="right" 
                            
                            popoverTitle="Holi" style="color: white">
                            Muros: Panel Yeso - Fibrocemento
                             </button>
                             <button type="button" 
                            class="btn btn-outline-danger btn-round" 
                            placement="right" 
                            
                            popoverTitle="Holi" style="color: white">
                            Trabajos en alturas 
                             </button>
                            <!-- Agrega más servicios según sea necesario -->
                        </ul>
                    </div>
        
                    <!-- Columna para el carrusel -->
                    <div class="col-md-8 d-flex align-items-center justify-content-center" style="padding-top: 0px;">
                        <div class="card page-carousel2">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="../../assets/img/img004.jpeg" alt="Random first slide" style="height: 600px">
                                    
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../../assets/img/img006.jpeg" alt="Random second slide" style="height: 600px">
                                    
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../../assets/img/img007.jpeg" alt="Random third slide" style="height: 600px">
                                
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../../assets/img/img008.jpeg" alt="Random third slide" style="height: 600px">
                                
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../../assets/img/img010.jpeg" alt="Random third slide" style="height: 600px">
                                
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <style>
            /* Estilos CSS para el carrusel */
            
            
            
            .page-carousel2 {
                width: 1100px; /* Ocupa todo el ancho de la ventana gráfica */
                height: 600px;
                overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
                margin-left: -15px; /* Compensar el padding predeterminado de la rejilla de Bootstrap */
                margin-right: -15px; /* Compensar el padding predeterminado de la rejilla de Bootstrap */
                position: relative;
                /* right: 100px; */
                left: 170px;
                
                
                
                /* align-items: center; */
                /* right: 100px; */
            }
            
           
            
           
            
            
            
        </style>
      
        
        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Sobre Mi</h2>
                        <p class="description">Cause if you do, it can be yours for Free. Hit the button below and download it. Start a new project or give an old Bootstrap 4 project a new look.</p>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>



