<div class="wrapper">
    <div class="section section-dark"  style="background-color: #241607">
        
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Contactanos:</h3>
                          <div class="social-line text-center">
                              
                              
                              <li class="nav-item">
                                <a>
                                    <i class="fa fa-google-plus"></i> carlosroby2013@hotmail.com
                                </a>
                              </li>
                              
                          </div>
                          <form class="register-form" [formGroup]="myForm" (ngSubmit)="sendEmail()">
                              <label>Nombre</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-circle-10"></i>
                                  </span>
                                </div>

                                  <input formControlName="name" type="text" class="form-control" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false" >
                              </div>

                              <label>Numero o correo para contactarnos contigo lo antes posible:</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-badge"></i>
                                  </span>
                                </div>
                                  <input formControlName="info" type="text" class="form-control" placeholder="Info de contacto" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>

                              <label>Descripcion</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-paper"></i>
                                  </span>
                                </div>
                                  <input formControlName="message" type="text" class="form-control" placeholder="Descripcion sobre tu peticion" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>
                              <button class="btn btn-danger btn-block btn-round">Enviar</button>
                          </form>
                          
                      </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>
