<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://wa.link/wuk8st">Contacto</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made by Guerrero&Lopez-SoftwareSolutions 
                </span>
            </div>
        </div>
    </div>
</footer>
